table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

.col1, .col2, .col3, .col4, .col5, .col6 {
    width: 16.5%;
}

body{
    background-color: #778899;
}

#item-picture{
    width: 300px;
    height: 300px;

}

