<!doctype html>
<html lang="en">
<head>

</head>
<body>

<h1>
<p>Online Shop Application Java</p>
</h1>


<div class="grid-container" >
<div><a href="/customers" class="button">Customers</a></div>

<div><a href="/orders" class="button">Orders</a></div>

<div><a href="/items" class="button">Items</a></div>
</div>
</body>
