<!doctype html>
<html lang="en">
<head>

</head>
<body>

<h1>Online Shop Application Java</h1>

<h2>Model an online shop</h2>

    <p>This web application was built as part of the CodeClan 16 week intensive course as the end project of the Java module.</p>
    <p>The task was to create an e-commerce platform with the following functionality:</p>
    <ol>
        <li>The ability to add, update, display and remove products from the website.</li>
        <li>The ability for a user to add and remove items from their basket.</li>
        <li>The basket should keep a running price total.</li>
        <li>The ability of a user to "buy products".</li>
    </ol>
<h2>Technologies Used and Restrictions</h2>
    <p>The Web App was built using the following technologies:</p>
    <ol>
        <li>Java - Main language used for the back-end of the application.</li>
        <li>Hibernate - ORM used for mapping java to SQL database</li>
        <li>HTML & CSS - Front-end languages </li>
    </ol>
    <p>As a CodeClan project, the following restrictions were in place during the project:</p>
        <ol>
            <li>The application had to be built using Java, Hibernate, HTML and CSS.</li>
            <li>No other technologies or frameworks were permitted</li>
        </ol>

<h2>Functionality Achieved </h2>
    <p>The following functionality has been achieved:</p>
    <ol>
        <li>Add, Edit and Remove users for the site.</li>
        <li>Add, Edit and Remove items for the site (Within the categories of Food, Clothing or Electronic)</li>
        <li>Log in* as a user.</li>
        <li>Add and remove items from the logged in users basket.</li>
        <li>Complete an order which will decrease a users funds and add the order to their order history</li>
    </ol>

<h2>Other Notes</h2>



</body>
